<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="admin@phptravels.com"/>
    <add key="password" value="demoadmin"/>
    <add key ="browser" value="Chrome"/> 
    <add key="URL" value="http://www.phptravels.net/admin"/>
    <add key="" value=""/>

  </appSettings>
</configuration>