<?xml version="1.0" encoding="utf-8" ?>

<configuration >
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="username" value="admin@phptravels.com"/>
    <add key="password" value="demoadmin"/>
    <add key ="browser" value="Chrome"/>
    <add key="URL" value="http://www.phptravels.net/admin"/>
    <add key="carName" value="Ferrari"/>
    <add key="firstname" value="Eusebio"/>
    <add key="lastname"/>
    <add key="mobile"/>
    <add key="mail"/>
    <add key="country"/>
    <add key="address1"/>
    <add key="address2"/>
    <add key="percentage" value="50.00"/>
    <add key="MaxUses" value="20"/>
    <add key="id" value="wWIw"/>
    <add key="number" value="10.00"/>
    <add key="printpage" value="xcrud"/>
    <add key="mainpage" value="coupons"/>



  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="C:\tmp\PHPTravels.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
